[submodule "rctab-infrastructure"]
	path = rctab-infrastructure
	url = git@github.com:alan-turing-institute/rctab-infrastructure.git
	branch = format-docstrings

[submodule "rctab-cli"]
	path = rctab-cli
	url = git@github.com:alan-turing-institute/rctab-cli.git
	branch = update-docstrings
